<ul class="list-group">
   {{#each books}}
  <li class="list-group-item">
    Book ID : {{this.id}} <br>
    Book title : {{this.title}}<br>
    Author : {{this.author}}<br>
    Published Year : {{this.published_year}}<br>
    Genre : {{this.genre}}
    </li>
   {{/each }}
</ul>